<xf:macro name="advertiser_url" arg-user="!">
    <xf:radiorow name="ugw[url_type]"
                 value="{{ ($user.profile_url == 'system' || $user.profile_url == '') ? 'system' : 'custom' }}"
                 label="{{ phrase('ugw_profile_url') }}"
                 explain="{{ phrase('ugw_destination_url_for_your_sidebar_avatar_explain') }}">
        <xf:option value="system">{{ phrase('ugw_url_type_forum_profile') }}</xf:option>
        <xf:option value="custom" label="{{ phrase('ugw_url_type_url_of_your_choice') }}">
            <xf:dependent>
                <xf:textbox name="ugw[url]" type="url" value="{$user.profile_url}" />
            </xf:dependent>
        </xf:option>
    </xf:radiorow>
</xf:macro>