<div class="block"{{ widget_data($widget) }}>
    <div class="block-container">
        <xf:if is="$title"><h3 class="block-minorHeader">{$title}</h3></xf:if>
        <xf:if is="$options.display_avatar">
            <xf:macro name="list_users_with_avatar" arg-users="{$users}" />
        <xf:else />
            <xf:macro name="list_users" arg-users="{$users}" />
        </xf:if>
    </div>
</div>

<xf:macro name="list_users" arg-users="!">
    <div class="block-row block-row--minor">
        <ul class="listInline listInline--comma">
            <xf:foreach loop="$users" value="$user"><xf:trim>
                <li><xf:username user="$user" rich="true"
                                 class="{{ !$user.visible ? 'username--invisible' : '' }}" /></li>
            </xf:trim></xf:foreach>
        </ul>
    </div>
</xf:macro>

<xf:macro name="list_users_with_avatar" arg-users="!">
    <ol class="block-row listPlain">
        <xf:foreach loop="$users" value="$user">
            <div class="contentRow">
                <div class="contentRow-figure">
                    <xf:avatar user="$user" size="xs"/>
                </div>
                <div class="contentRow-main contentRow-main--close">
                    <xf:username user="$user"/>
                    <div class="contentRow-minor contentRow-minor--hideLinks">
                        <xf:if is="$user.Profile.website">
                            <a href="{$user.Profile.website}" rel="nofollow">{$user.Profile.website}</a>
                        </xf:if>
                    </div>
                </div>
            </div>
        </xf:foreach>
    </ol>
</xf:macro>