<xf:if is="$users is not empty">
    <xf:css src="ugw_widget_users.less" />
    <div class="block ugw-block ugw-block--{$options.style}"{{ widget_data($widget) }}>
        <div class="block-container">
            <xf:if is="$title"><h3 class="block-minorHeader">{$title}</h3></xf:if>
            <xf:if is="$options.style == 'name_avatar'">
                <xf:macro id="list_users_with_avatar" arg-users="{$users}" arg-profileUrls="{$profileUrls}" />
            <xf:elseif is="$options.style == 'avatar'" />
                <xf:macro id="list_users_avatar" arg-users="{$users}" arg-profileUrls="{$profileUrls}" />
            <xf:else />
                <xf:macro id="list_users" arg-users="{$users}" arg-profileUrls="{$profileUrls}" />
            </xf:if>
            {$options.html|raw}
        </div>
    </div>
</xf:if>

<xf:macro id="list_users" arg-users="!" arg-profileUrls="!">
    <div class="block-row block-row--minor">
        <ul class="listInline listInline--comma ugw-userList">
            <xf:foreach loop="$users" value="$user"><xf:trim>
                <li><xf:macro id="username" arg-user="{$user}" arg-options="{$profileUrls.{$user.user_id}}" /></li>
            </xf:trim></xf:foreach>
        </ul>
    </div>
</xf:macro>

<xf:macro id="list_users_avatar" arg-users="!" arg-profileUrls="!">
    <ol class="block-row listPlain ugw-userList">
        <xf:foreach loop="$users" value="$user">
            <li>
                <xf:macro id="avatar" arg-user="{$user}" arg-size="m"
                          arg-options="{$profileUrls.{$user.user_id}}" />
            </li>
        </xf:foreach>
    </ol>
</xf:macro>

<xf:macro id="list_users_with_avatar" arg-users="!" arg-profileUrls="!">
    <ol class="block-row listPlain ugw-userList">
        <xf:foreach loop="$users" value="$user">
            <div class="contentRow">
                <div class="contentRow-figure">
                    <xf:macro id="avatar" arg-user="{$user}" arg-size="xs"
                              arg-options="{$profileUrls.{$user.user_id}}" />
                </div>
                <div class="contentRow-main contentRow-main--close">
                    <xf:macro id="username" arg-user="{$user}" arg-options="{$profileUrls.{$user.user_id}}" />
                    <xf:if contentcheck="true">
                        <div class="contentRow-minor contentRow-minor--hideLinks">
                            <xf:contentcheck>
                                <xf:if is="$user.Profile.website">
                                    <a href="{$user.Profile.website}" rel="nofollow">{$user.Profile.website}</a>
                                </xf:if>
                            </xf:contentcheck>
                        </div>
                    </xf:if>
                </div>
            </div>
        </xf:foreach>
    </ol>
</xf:macro>

<xf:macro id="avatar" arg-user="!" arg-size="!" arg-options="!">
    <xf:avatar user="$user" size="{$size}"
               target="{$options.target}"
               rel="{$options.rel}"
               img="true"
               href="{$options.url}" />
</xf:macro>

<xf:macro id="username" arg-user="!" arg-options="!">
    <xf:username user="$user"
                 href="{$options.url}"
                 rel="{$options.rel}"
                 target="{$options.target}" />
</xf:macro>